/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: rgb(9, 241, 191);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;

    }
    h2, h3 {
    color: rgb(234, 2, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    }
    body {
    margin: 2em;
    }
    body, input[type="text"], button {
    color: #333;
    font-family: fantasy;
    /*background-color: burlywood;*/
    background-image: url("C:\Users\silvi\Pictures\Saved Pictures\003.jpg");
    
    }
    /* everywhere else */
    * {
    font-family: Arial,'Courier New', Courier, monospace;
    }